:root {
    --blue-color: rgb(20, 30, 50);
    --secondary-blue: rgb(41, 64, 88);
    --accent-blue: rgb(69, 104, 130);
    --soft-gray: rgb(200, 210, 220);
    --teal-blue: rgb(30, 120, 150);
    --accent-green: rgb(85, 190, 140);
    --accent-blue: rgb(80, 200, 250);
    --my-violet:rgb(100,110,250);
    --glow-light: rgba(80, 200, 250, 0.7);
    --glow-accent: rgba(69, 104, 130, 0.6);
}
html{
    scroll-behaviour:smooth;
}
body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100vw;
}
.main-content {
    display: grid;
    grid-template-columns: minmax(2rem, 0.18fr) 0.82fr;
    grid-template-rows: 60px 1fr;
    background: var(--soft-gray);
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    gap: 10px;
    padding: 20px;
}
.main-content > * {
    overflow: hidden;
}


/* specific to individual pages */
/*  contents   */

.contents {
    position:relative;
    display: flex;
    padding:10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    grid-row: 2/3;
}
#info{
    width: 100%;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
#info.active {
    flex:1;
    max-width: 100%;
    padding: 10px;
}
.contents-container{
    height: 97%;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.contents-container > * {
    background:white;
    padding:10px;
}

.add-student-section{
    display: flex;
    justify-content: flex-end;
}
.add-student-section a{
    display:flex;
    text-decoration: none;
    padding:0 10px 0;
    height:35px;
    align-items:center;
    background: var(--secondary-blue);
    color:white;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    transition:all 0.3s ease-in-out;
}
.add-student-section a:hover {
    height:35px;
    background: var(--blue-color);
    color:white;
    border-radius: 10px;
}
.search-field-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    border:1px solid gray;
    border-radius:10px;
    padding:5px;
    gap:5px;
}
.search-bar input{
    width:180px;
    height: 25px;
    padding:0 5px 0;
    border:none;
    outline:none;
    -webkit-appearance: none;
}
.search-filter select{
    width:100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}


.student-list-section{
    height: 100%;
    border:1px solid var(--soft-gray);
}
.student-table{
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.student-table thead tr{
    border-bottom: 1px solid var(--soft-gray);
}
.student-table thead tr th {
    padding-bottom: 5px;
}


/* Register New Student */
#register{
    width: 100%;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
#register.active {
    flex:1;
    max-width: 100%;
    padding: 10px;
}
.register-student-section{
    display:flex;
    flex-direction: column;
    background: white;
    border-radius:10px;

}
.student-registration-form{
    display: flex;
    flex-direction:column;
    gap:30px;
}
.personal-information, .contact-information{
    display: flex;
    height:50%;
    flex-direction:column;
    gap:10px;
}
.personal-information h3, .contact-information h3{
    background: var(--blue-color);
    color:white;
    padding:10px;
    border-radius: 5px;
    margin-bottom:0;

}
.student-form-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40px;
    gap:5px;
}

.student-form-item label {
    grid-column: 1;
    display: flex;
    align-self: end;
    font-size: 20px;
}

.student-form-item input {
    font-size: 18px;
    align-self: end;
    grid-column: 2;
    border:none;
    border-bottom: 1px solid var(--soft-gray);
    outline:none;
    -webkit-appearance: none;
}
.student-form-item input:focus{
    border-bottom: 1px solid var(--secondary-blue);
}
.student-register-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
}
.student-register-actions button, .student-register-actions a{
    font-size:18px;
    font-family:sans-serif;
    font-style:normal;
    cursor: pointer;
    border-radius: 10px;
        color:rgba(0,0,0,0.8);
    transition:all 0.3s ease-in-out;
}
.student-register-actions a{
    height:60px;
    width:140px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    background: rgba(0,0,0,0.1);
}
.student-register-actions a:hover{
    color:rgba(255,255,255,0.9);
    background: rgba(0,0,0,0.4);
}
.student-register-actions button{
    border: 1px solid var(--soft-gray);
    height:60px;
    width:140px;
    padding:10px;

    background: rgba(41, 64, 88, 0.4);
}
.student-register-actions button:hover{
    color:white;
    background: rgba(41, 64, 88, 0.8);
}